[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
sqlalchemy = "*"
alembic = "*"
faker = "*"
flask = "*"
flask-sqlalchemy = "*"
jsonify = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
importlib-resources = "*"
flask-restful = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.10"
